@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h5 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */
  color: rgba(0, 0, 0, 0.87);
  
}

p {
  width: 92px;
  height: 16px;
  left: 487px;
  top: 128px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 16px */
  letter-spacing: 0.005em;
  /* Text/Black/Active */
  color: rgba(0, 0, 0, 0.87);
}

.complete {
  width: 9em
}

.completeLabel {
  display: flex;
  align-items: center;
  width: 28em;
  justify-content: space-between;
}

.expand {
  display: flex;
  align-items: center;
}

.emptyTaskList {
  width: 18em;
  display: flex;
  flex-direction: column;
}

.emptyTaskList p {
  flex: 1;
  width: 20em;
}

.activeList {
  width: 29em;
}
.completeList {
  width: 29em;
}