.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
  }
}

.App-header {
  width: 1440px;
  height: 64px;
  left: 0px;
  top: 0px;
  
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.App-link {
  color: #ff4858;
}

.App-input {
  height: 32px;
  margin-top: 8px;
}

.taskCard  {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  
  position: absolute;
  width: 466px;
  height: 90px;
  left: 487px;
  top: 160px;
  
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.newTaskForm {
  display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

position: relative;
width: 400px;
height: 216px;

background: #FFFFFF;
box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
border-radius: 16px;
}

.newTaskButton {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 32px;

position: absolute;
width: 466px;
height: 40px;
left: 487px;
top: 274px;

/* Primary/10% */

background: rgba(65, 88, 196, 0.1);
border-radius: 4px;


}