.taskForm {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 24px;
  
    width: 400px;
    height: 216px;
  
    background: #ffffff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
    z-index: 1;
    margin-left: 19em;
    position: fixed;
  }

  .buttonArea {
    display: flex;
  }

  .formInput {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    border: none;
    margin-top: 1em;
    margin-left: .3em;
  }

  .secondaryButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    left: 37.29%;
    right: 52.11%;
    top: 56.95%;
    bottom: 32.45%;
    border-radius: 4px;
    border: none;
    color: #4158C4
  }

  .primaryButton {
    padding: 16px 16px;
    bottom: 32.45%;
    background: #4158c4;
    border-radius: 4px;
    border: none;
    height: 18px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.0125em;
    text-transform: capitalize;
    color: #ffffff;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
  }
  
  .label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 22em;
  }