.AppHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    height: 5em;
}

.AppHeaderTitle {
    margin-left: 1em;
}

.menuIcon {
    margin-left: 1em;
}

.HeaderItems {
    display: flex;
    justify-content: space-between;
    width: 80em
}

.HeaderItems p {
    margin-top: 2em;
    margin-right: 1em;
    width: 10em
}